* { margin: 0; padding: 0; box-sizing: border-box; }
body { width: 800px; margin: 0 auto; display: flex; flex-direction: column; }
.user_input { margin-top: 25px; margin-bottom: 25px; }

.send_btn { width: 135px; padding: 5px; font-size: 18px; border-radius: 15px; margin: 0 auto; border-color: rgb(215, 207, 217); }

.reviews { margin-top: 25px; padding: 16px 24px; display: flex; flex-direction: column; gap: 25px; background-color: rgb(215, 207, 217); }
